@font-face {
      font-family: 'Bakudai-Regular`';
      src: url('/fonts/subsets/Bakudai-Regular`-e38282e3.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      font-display: block;
    }