@font-face {
      font-family: 'Bakudai-Regular';
      src: url('/fonts/subsets/Bakudai-Regular-e8b186e8.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      font-display: block;
    }