@font-face {
      font-family: 'JasonHandwriting2-Medium';
      src: url('/fonts/subsets/JasonHandwriting2-Medium-e89b8be7.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      font-display: block;
    }