@font-face {
      font-family: 'JasonHandwriting5p-Medium';
      src: url('/fonts/subsets/JasonHandwriting5p-Medium-7b22e784.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      font-display: block;
    }