@font-face {
      font-family: 'JasonHandwriting5p-Regular';
      src: url('/fonts/subsets/JasonHandwriting5p-Regular-e38282e3.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      font-display: block;
    }