@font-face {
      font-family: 'MasaFont-Regular';
      src: url('/fonts/subsets/MasaFont-Regular-7b22e784.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      font-display: block;
    }