@font-face {
      font-family: 'MasaFont-Regular';
      src: url('/fonts/subsets/MasaFont-Regular-e89b8be7.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      font-display: block;
    }