@font-face {
      font-family: 'RiWenMaoBi';
      src: url('/fonts/subsets/RiWenMaoBi-e596b1e6.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      font-display: block;
    }